*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3)
    0px 18px 36px -18px;
}:root{
    --bg: #00ffc8;
    --clip:polygon(0 0, 39.55% 0, 39.55% 100%, 0 100%);
}.bg{
    height: 100vh;
    width: 100%;
    background-color: #00ffc8;
    clip-path: var(--clip);
}.box{
    width: 950px;
    height: 570px;
    background-color: white;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow);
    background-image: var(--bg);
}.left{
    width: 35%;
    height: 570px;
    border-right: 1px solid grey;  
    border-bottom: 1px solid black; 
    padding-top: 150px;
    background-color: var(--bg);
}.left img{
    width: 200px;
    height: 200px;
}.left h2{
    margin-top: 30px;
    font-size: 32px;
    color: black;
}.right{
    width: 65%;
    height: 570px;
}.right h2{
    font-size: 45px;
    margin-top: 90px;
}.user{
    width: 350px;
    height: 36px;
    border: 1px solid black;
    margin-top: 60px;
    border-radius: 18px;
}.usn_img{
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 10px;
}.usn{
    height: 30px;
    width: 300px;
    border: none;
    outline: none; 
    margin-top: 3px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 15px;
}.password{
    width: 350px;
    height: 36px;
    background-color: white;
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 18px;
}.psw_img{
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 10px;
}.psw{
    height: 30px;
    width: 300px;
    border: none;
    outline: none; 
    margin-top: 3px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 15px;
}.btn_reg button{
    width: 150px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 40px;
    font-size: 16px;
}.btn_reg button:hover{
    background: var(--bg);
    box-shadow: 0 0 10px var(--bg);
}